<!DOCTYPE html>
<html>
<head>
  <title>MoxieForum</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="navbar <%= 'hidden' unless current_user %>">
    <%= link_to "Logout", user_session_path, :method => :delete %>
  </div>
    
  <%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
